---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout title="Blog | Hammadh Arquil">
	<div id="blog-page">
		<h1 class="retro-page-h1">Writing</h1>
		<ul class="retro-blog-list">
			{
				posts.map((post) => (
					<li class="retro-blog-item">
						<a href={`/blog/${post.slug}/`}>
							<h2 class="retro-blog-title">{post.data.title}</h2>
							<p class="retro-blog-meta">
								{post.data.pubDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' })}
							</p>
							<p class="retro-blog-desc">{post.data.description}</p>
							<p class="retro-blog-read">Read article →</p>
						</a>
					</li>
				))
			}
		</ul>

		<p class="retro-footer" style="margin-top: 2rem;">© 2026 Hammadh Arquil. All rights reserved.</p>
	</div>
</Layout>
