.avatar {
  background-image: url('../../images/avatar.jpg');
  background-color: #373737;
  background-size: cover;
}

.availability-indicator {
  animation: blinker 1.5s ease-in-out infinite;
  width: 10px;
  height: 10px;
  display: inline-block;
  border: 1px solid #bede64;
  background-color: #bede64;
  border-radius: 100%;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes fadeUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
  opacity: 0;
}

.fade-up[data-delay='0'] {
  animation-delay: 0s;
}

.fade-up[data-delay='1'] {
  animation-delay: 0.1s;
}

.fade-up[data-delay='2'] {
  animation-delay: 0.2s;
}

.fade-up[data-delay='3'] {
  animation-delay: 0.3s;
}

.fade-up[data-delay='4'] {
  animation-delay: 0.4s;
}

.fade-up[data-delay='5'] {
  animation-delay: 0.5s;
}

.fade-up[data-delay='6'] {
  animation-delay: 0.6s;
}

.fade-up[data-delay='7'] {
  animation-delay: 0.7s;
}

.proj1 {
  background-image: url('../../images/featured/proj1.png');
  background-size: cover;
}

.proj2 {
  background-image: url('../../images/featured/proj2.png');
  background-size: cover;
}

.proj3 {
  background-image: url('../../images/featured/proj3.png');
  background-size: cover;
}

.proj4 {
  background-image: url('../../images/featured/proj4.png');
  background-size: cover;
}
