@font-face {
    font-family: "SF UI Semibold";
    src: url(./fonts/SFUIText-Semibold.ttf);
  }
  @font-face {
    font-family: "SF UI Regular";
    src: url(./fonts/SFUIText-Regular.ttf);
  }
  @font-face {
    font-family: "SF UI Medium";
    src: url(./fonts/SFUIText-Medium.ttf);
  }
  @font-face {
    font-family: "SF UI Heavy";
    src: url(./fonts/SFUIText-Heavy.ttf);
  }
  @font-face {
    font-family: "SF UI Light";
    src: url(./fonts/SFUIText-Light.ttf);
  }

  @font-face {
    font-family: "SF UI Bold";
    src: url(./fonts/SFUIText-Bold.ttf);
  }

  .app{
    min-width:768px;
  }

.home{
    height: 60em;
    background-image: url("images/background.png");
    background-color: #cccccc;
    background-size:cover;
}

.nav-bar{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.logo{
    width: 55px;
    height: 55px;
}

.nav-items{
    display: inline-block;
    cursor: pointer;
}

.nav-item{
    color: #ebebeb;
    float: left;
    font-size: 0.9em;
    font-family: SF UI Regular;
}

.nav-item:not(:last-child){
    margin-right: 4em;
}

.nav-item:last-child{
    margin-right: 2em;
}