@font-face {
  font-family: "SF UI Semibold";
  src: url(./fonts/SFUIText-Semibold.ttf);
}
@font-face {
  font-family: "SF UI Regular";
  src: url(./fonts/SFUIText-Regular.ttf);
}
@font-face {
  font-family: "SF UI Medium";
  src: url(./fonts/SFUIText-Medium.ttf);
}
@font-face {
  font-family: "SF UI Heavy";
  src: url(./fonts/SFUIText-Heavy.ttf);
}
@font-face {
  font-family: "SF UI Light";
  src: url(./fonts/SFUIText-Light.ttf);
}

@font-face {
  font-family: "SF UI Bold";
  src: url(./fonts/SFUIText-Bold.ttf);
}

.app {
  min-width: 768px;
}

.home {
  height: 60em;
  background-image: url("images/background.png");
  background-color: #cccccc;
  background-size: cover;
}

.nav-bar {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.logo {
  height: 27px;
  margin-top: 0.3em;
  margin-left: 0.5em;
}

.nav-items {
  display: inline-block;
  cursor: pointer;
}

.nav-item {
  color: #ebebeb;
  float: left;
  font-size: 0.9em;
  font-family: SF UI Regular;
}

.nav-item:not(:last-child) {
  margin-right: 4em;
}

.nav-item:last-child {
  margin-right: 2em;
}

.detail-header {
  color: white;
  margin-top: 4em;
  margin-left: 3em;
}

.detail-header h1 {
  font-family: "SF UI Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 66px;
  line-height: 130%;
  color: #ffffff;
  width: 85%;
  margin-top: -0.2em;
}

.hey-there {
  font-family: "SF UI Semibold";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #636363;
}

.rows {
  position: absolute;
  display: flex;
  color: white;
}

.rows-flex {
  position: flex;
  display: flex;
  color: white;
}

.detail-header .rows p {
  margin-right: 3em;
  width: 40%;
}

.fields {
  width: 40%;
  position: absolute;
  right: 1em;
  bottom: 4em;
}

.field {
  margin-right: 3em;
}

.field-header {
  font-weight: 600;
  font-size: 18px;
  font-family: "SF UI Semibold";
}

.field-desc {
  font-weight: 400;
  font-size: 16px;
  font-family: "SF UI Regular";
}

.field-btn {
  align-items: center;
  margin-top: 0.8em;
}

.field-btn .line {
  width: 38px;
  height: 0px;
  border: 1px solid #ffffff;
  margin-right: 0.4em;
}

.field-btn-title {
  font-weight: 400;
  font-size: 16px;
  font-family: "SF UI Regular";
}

.featured {
  position: absolute;
  width: 100%;
  height: 1426px;
  left: 0px;
  top: 800px;
  background: #f1f1f1;
}

.featured {
  color: #000;
}

.featured h2 {
  font-family: "SF UI Semibold";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #000000;
}

.featured-btn {
  align-items: center;
  margin-top: 0.8em;
}

.featured-btn .line {
  width: 20px;
  height: 0px;
  border: 1.6px solid #000000;
  margin-right: 0.4em;
}

.featured-btn-title {
  font-weight: 600;
  font-size: 20px;
  font-family: "SF UI Regular";
  color: #000;
}

.spacebtwn {
  display: flex;
  justify-content: space-between;
}

.featured .spacebtwn{
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}
