body {
  /* margin: auto;
  max-width: 768px; */
  background-color: #0a0a0d;
  cursor: auto;
  transition: background-color 0.3s ease;
}

body.light-mode {
  background-color: #f5f5f5;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 640px) {
  .container {
    padding: 0 1.5rem;
  }
}


::-moz-selection {
  /* Code for Firefox */
  color: #1b2305;
  background: #bede64;
}

::selection {
  color: #1b2305;
  background: #bede64;
}

.divider {
  width: 100%;
  border: 1.5px solid #c4c4c4;
  margin-left: 5em;
  margin-right: 5em;
}

a,
button,
.link {
  cursor: pointer;
}
